<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.palikogler.sudoku"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Sudoku</name>
	<platform name="android">
              <icon src="favicon.ico"/>
	</platform>
    <description>
        Sudoku for Android
    </description>

    <author href="https://palikogler.sk" email="pavolkogler@gmail.com">
        Pali Kogler
    </author>

</widget>